$breakpoints: (desktop: 1400px, tablet-landscape: 1100px, tablet-portrait: 1023px, mobile: 767px);
$primaryColor: #FBB03B;
$secondaryColor: #14171C;
$headerColor: $secondaryColor;
$footerColor: $secondaryColor;
$boxWidth: 500px;
$textColor: $secondaryColor;
$spacing: 30px;
$articleWidth: 900px;