.bgYellow {
  background-color: yellow;
}

.bgRed {
  background-color: red;
}

.bgPink {
  background-color: pink;
}

.bgGreen {
  background-color: green;
}

.bgBlue {
  background-color: blue;
}

.bgPurple {
  background-color: purple;
}