$breakpoints: (desktop: 1400px, tablet-landscape: 1100px, tablet-portrait: 1023px, mobile: 767px);
$primaryColor: #2db7c4;
$secondaryColor: #3c3c3b;
$thirdColor: #ffbd1d;
$fourthColor: #f74d9d;
$textColor: black;
$spacing: 30px;