//  Variables
$blue: #0000FF;
$red: #FF0000;
$green: #00FF00;
$yellow: #FFFF00;
//  Backgrounds
$colors :( blue: $blue, red: $red, green: $green, yellow: $yellow);
@each $color,
$hex in $colors {
  .bg-#{$color} {
    background-color: $hex;
  }
}

//  Margins
$margins :( 0: 0px, 20: 20px, 25: 25px);
@each $margin,
$hex in $margins {
  .m-#{$margin} {
    margin: $hex;
  }
}

//  Widths
$widths :( 300: 300px, 800: 800px);
@each $width,
$hex in $widths {
  .w-#{$width} {
    width: $hex;
  }
}

//  Heights
$heights :( 600: 600px);
@each $height,
$hex in $heights {
  .h-#{$height} {
    height: $hex;
  }
}

//  Shadow
@mixin custom-shadow($color: rgba(149, 157, 165, 0.2)) {
  box-shadow: $color 0px 8px 24px;
}

.card {
  @include custom-shadow;
  &:hover {
    @include custom-shadow(rgba(149, 157, 165, 0.4));
  }
}