$color: #008800;
$colorDisabled: black;
$bgDisabled: gray;
$headerColor: rgb(148, 148, 148);
$footerColor: black;
$breakpoint: (desktop: 1400px, tablet-landscape: 1100px, tablet-portrait: 1023px, mobile: 767px);